.logo-heading {
  margin-right: 16rem !important;
}
.release-lable {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 0.9;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0;
}
