/* ==========================================================================
Main page styles
========================================================================== */
@media (min-width: 64em) {
  .usa-logo {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.46rem;
    line-height: 1.1;
    margin-left: -10.2rem;
  }
}
